<app-navbar></app-navbar>

<div class="container-fluid">

  <div class="starter-template">
    <h1>{{title}}</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

  <div class="row-fluid">
    <div class="col-sm-3"><app-attribute-authority></app-attribute-authority></div>
    <div class="col-sm-3">Test</div>
    <div class="col-sm-3">Test</div>
    <div class="col-sm-3">Test</div>
  </div>

</div><!-- /.container -->
